body
{
    background: #FFEBCD;
}

.clock
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #5F9EA0;
    font-size: 50px;
    border: 1px solid #008B8B;
    padding: 0px 5px 0px 5px;
}
